body {
    background-color: rgb(243, 243, 243);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 16px;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    float: left;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-link {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: #4e9632;   
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
  }
  .nav-link:hover {
    text-decoration: none;
    color: #cda34f;
  }
img {
  max-width:100%;
  height:auto;
}