.create-recipe {
  max-width: 700px;
  margin: auto;
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  color: #636b46;
}
.custom-select {
  position: relative;
  width: 200px;
}
.create-recipe input {
  font-size: 24px;

}
.form-check {
  text-align: center;
}
#category {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
