.content {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.header {
    color: white;
    /* background-image: url('bgContact.jpg') */
}
.searchbar {
    color: blue;
}