    <!-- Navigation for sign up, log in, contact -->
    <nav>
        <div>
            <button></button>
            <div>
                <ul>
                    <li>
                    <a href="#">Hem</a>
                    </li>
                    <li>
                        <a href="#">Om sidan</a>
                    </li>
                    <li>
                        <a href="#">Kontakt</a>
                    </li>
                    <li>
                        <a href="#">Ny användare</a>
                    </li>
                    <li>
                        <a href="#">Logga in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Page content -->
<div class="container">

<!-- Heading-->
<div class="heading-row">
    <div>
        <img src="#">
    </div>
<!-- Heading text -->
<div class="heading-text">
    <h1>Hello world!</h1>
    <p>Welcome to this Page</p>
</div>
</div>

<!-- Content row to display random recipes from each category-->
<div class="row">
    <div class="">
        <div class="">
            <div class="card-body">
                <h2 class="card-title">First recipe</h2>
                <p class="card-text">To be continued</p>
            </div>
            <div class="card-footer">
                <a href="#">More info</a>
            </div>
        </div>
    </div>
    <!-- Second recipe-->
    <div class="">
        <div class="">
            <div class="card-body">
                <h2 class="card-title">Second recipe</h2>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <a href="#">More info</a>
            </div>
        </div>
    </div>
    <!-- Third recipe -->
        <div class="">
        <div class="">
            <div class="card-body">
                <h2 class="card-title">Third recipe</h2>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <a href="#">More info</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
</div>
<!-- /.container -->